/* -----------------------
   About Page
 ------------------------ */
.container {
  position: relative;
  min-height: 750px;
}

.text-container {
  border: 10px solid $lightGrey;
  padding: 36px 0px 57px 45px;
  overflow: hidden;
  float: left;
  width: 540px;
  margin-top: -13px;
  margin-left: 22px;
  position: relative;
}

.terms-page {
  padding: 36px 41px 100px 45px;
  margin-bottom: 50px;
}

.heading-term {
  margin-bottom: 10px;
  text-decoration: underline;
}

.text-container em {
  font-weight: bold;
  color: $red;
  text-decoration: underline;
}

.text-container p {
  line-height: 20px;
  color: $charcoal;
  font-size: 14px;
  margin-bottom: 30px;
  display: inline-block;
}

.text-container strong {
  font-weight: bold;
  margin: 10px 0;
  display: block;
  color: $charcoal;
}

.text-container ul {
  margin-left: 20px;
  list-style: square;
  color: $charcoal;
  margin-bottom: 30px;
}

.text-container li {
  color: $charcoal;
  margin: 10px 0;
  font-size: 14px;
}
