/* -----------------------
   Home Page
 ------------------------ */
.randomize a,
.randomize a em,
.instruct span:before,
.instruct span:after,
#tooltip:after {
    background: url('../img/sprt-home.png') 0 0 no-repeat;
    @include hidden-text();
}

#intro {
    position: absolute;
    top: -50px;
    width: 960px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
